# ---- PostgreSQL ----
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=senweb-ib

# ---- PostgreSQL: Airflow metadata ----
POSTGRES_AIRFLOW_USER=airflow
POSTGRES_AIRFLOW_PASSWORD=airflow
POSTGRES_AIRFLOW_DB=airflow
AIRFLOW_SECRET_KEY=senweb-ib_secret
AIRFLOW_JWT_SECRET=airflow_jwt_secret