.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 2rem 18rem;
  background-image: url('/images/vector.svg');
  /* background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */

  background-size: cover !important;
  background-attachment: fixed !important;
}

/* Mobile */
@media (max-width: 768px) {
  .main {
    padding: 1rem 1rem;
  }

  .content {
    padding: 4rem;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 769px) and (max-width: 1280px) {
  .main {
    padding: 3rem 10rem;
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
